* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeueBook.woff') format('woff');  
  font-weight: normal;
  font-style: normal;
  }
body {
  font-family: 'Noto Sans', sans-serif;

}
.mobile-menu {
  display: none;
}
.container {
  max-width: 90rem;
  margin: auto;
  overflow: hidden;
}
.navbar {  
  display: flex;
  align-items: center;
  color: #fff;
  height: 5.875rem;
  position: fixed;
  width: 100%;  
  left:0;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid rgba(235, 235, 240, 0.20);
  transition: background-color 0.2s, height 0.2s;
}
.navbar-light {
  background-color: #fff;
  color: #292d33;
  height: 4.625rem;
}
.navbar-light .header-logo-path {
  fill: #292d33;
}
.header {  
  padding-top: 5.875rem;
  min-height: 100vh;
}
.header-image {
  background-image: url("../img/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom -3.4375rem;  
  position: relative;
}
.header-image::before {
  content: "";
  position: absolute;  
  background: rgba(4, 8, 14, 0.63); 
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 0;  
}
.header-logo {
  display: flex;
  align-items: center;
  padding: 0 3.125rem;
  border-right: 1px solid rgba(235, 235, 240, 0.20);
  height: 100%;
}
.logo-svg {
  width: 8.75rem;
  height: 2.75rem;
}
  
.header-nav {
  flex-basis: 100%;
  display: flex;
  list-style: none;
  padding: 0;
  padding-left: 3.125rem;
  margin: 0;
}
.header-nav-item:not(:last-child) {
  margin-right: 4%;
}
.header-nav-link {
  text-decoration: none;
  font-size: 1rem;
  color: inherit;  
}
.header-phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: .625rem;
  margin-right: 3.125rem;  
}
.phone-icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: #5C8EE6; 
}

.button-icon {
  display: none;
  width: 24px;
  height: 24px;
}
.header-phone-link {
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
}
.button { 
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #fff;    
  background: #3A71D1;
  padding: 1.5625rem 3.75rem;
  border: none;
  display: inline-block;
  cursor: pointer;
}
.navbar-button {
  flex-shrink: 0;
  height: 100%;
  padding: 1.5625rem 3.125rem;
}
.separator {
  width: 9.375rem;
  height: 2px;
  background: #5C8EE5;
}
.header-content {
  padding-top: 9.375rem;
  position: relative;
  z-index: 1;
  color: #fff;
}
.header-title {
  max-width: 67.5rem;  
  font-family: 'Bebas Neue';  
  font-weight: 600; 
  font-size: 4.875rem; 
  line-height: 124%;
  margin: 1.375rem 0 2.375rem 0;
  letter-spacing: 1.6px; 
  word-spacing: -2.3px; 
}
.header-text {
  max-width: 45rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  margin-bottom: 3.125rem;
}
.header-features {
  display: flex;  
  min-height: 10.375rem;
  padding: 0;
  margin-top: 6.25rem;  
  margin-bottom: 0; 
  list-style: none;
  color: #fff;
  position: relative;
  
}
.header-features-item {  
  padding: 1.9375rem 3.0625rem 0; 
  width: 18rem;
  border: 1px solid rgba(235, 235, 240, 0.20);  
}
.header-features-icon {
  display: inline-block;
  height: 1.8125rem;
}
.header-button {
  padding: 1.625rem 3.75rem;
}
.header-features-text { 
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 0;  
  margin-top: 1.3125rem;
}
.header-features-item:not(:last-child) {
  border-right: none;
}
.section {
  margin-top: 9.375rem;
  margin-bottom: 9.375rem;
}
.section-title{
  font-family: 'Bebas Neue';
  font-size: 3.5625rem;
  line-height: 120%;
  color: #292D33;
  margin-top: 1.5625rem; 
  letter-spacing: 1.7px;
  word-spacing: -1.3px;  
}
.steps {
  display: flex;
  list-style: none;  
  padding: .4375rem 0 0;
  gap: 1.875rem;  
}
.steps-item {
  max-width: 20.625rem;
}
.steps-num {
  font-family: 'Bebas Neue';
  font-size: 3rem;  
  line-height: 120%;  
  font-weight: 600;
  color: #5C8EE5;
  display: flex;
  align-items:center;  
}
.steps-title {
  font-weight: 400;  
  font-size: 1.75rem;
  line-height: 160%;
  color: #292D33;  
  margin-top: 2.1875rem;
  margin-bottom: .625rem;
}
.steps-num::after {
  content: "";
  height: 1px;
  width: 100%;
  background: #ebebf0;
  margin-left: 1.875rem;
}
.steps-text {
font-weight: 400;
font-size: 1rem;
line-height: 166%;
color: #828A99;
margin-top: .625rem;
margin-bottom: 1.25rem;
padding-right: 1.875rem;
}
.steps-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%; 
  color:#5C8EE5;
}
.steps-link:before {
  content:"";
  height: 1px;
  background:#5C8EE5;
  width: 2.5rem;  
  margin-right: 1.25rem;
}
@media (max-width: 1700px) {
  html {
    font-size: 14px;
  }
  .header-image {
    background-position: center;
  }
}
@media (max-width: 1460px) {
  html {
    font-size: 13px;
  }
  .header-logo {
    padding: 2rem;
  }
  .logo-svg {
    max-width: 6rem;
  }
  .header-nav {
    padding-left: 2rem;
  }
  .header-nav-item:not(:last-child) {
    margin-right: 1rem;
  }
  .header-phone {
    margin-right: 2rem; 
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 70rem;
  }
  .header-phone {
    display: none;
  }
  .navbar {
    height: 5rem;
  }
  .navbar-button {
    padding-left: 2rem;
    padding-right: 2rem; 
  }
}
@media (max-width: 992px) {
  html {
    font-size: 12px;
  }
  .container {
    max-width: 60rem;
  }
  .header-nav {
    display: none;
  }
  .header-logo {
    flex-grow: 1;
    justify-content: center;
  }
  .mobile-menu-toggle {
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 1.8rem;
    border-right: 1px solid rgb(235, 235, 240, 0.2)
  }
  .navbar-light .mobile-menu-line {
    background-color: #333;
  }
  .mobile-menu-line {
    height: 1px;
    background-color: #fff; 
    width: 100%;
    transition: transform 0.2s;
  }
  .mobile-menu-line:nth-child(2) {
    width: 80%;
  }
  .navbar-button .button-text {
    display: none;
  } 
 
  .navbar-button .button-icon {
    display: block;
    fill: #fff;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 2;
    background-color: #fff;
    padding-top: 5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .mobile-menu.is-open {
    display: block;
  }
  .mobile-menu-nav {
    list-style: none;
    padding: 0;
  }
  .mobile-menu-nav-item {
    margin-bottom: 2rem;
  }
  .mobile-menu-link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 160%;
    color: #292D33;
  }

  .mobile-submenu {
   list-style-type: none;
   padding: 0;
   padding-left: 1rem;
   margin-top: 1rem;

  }
  .mobile-submenu-link {
    text-decoration: none;
    color: #828A99;
    font-size: 14px;
    line-height: 160%;
  }
  .mobile-phone {
    display: block;
    font-size: 20px;
    font-weight: 600;
    line-height: 160%;
    color: #292D33;
    text-decoration-line: underline;
    border-top: 1px solid #ebebf0;
    padding-top: 2rem;
    margin-bottom: 1.5rem;
  }
  .mobile-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  .mobile-social {
    display: flex;
    align-items: start;
    gap: .9375rem;
    margin-bottom: .9375rem;
  }
  .mobile-info-address, .mobile-info-email {
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; 
    color: #292D33;
  }
  .close-menu.mobile-menu-toggle {
    justify-content: center;
  }
  .close-menu .mobile-menu-line:nth-child(2) {
    display: none;
  }
  .close-menu .mobile-menu-line:nth-child(1) {
    transform: rotate(-45deg);
  }
  .close-menu .mobile-menu-line:nth-child(3) {
    transform: rotate(45deg);
  }
}